{% extends "../base.html" %}
{% load my_filter %}

{% block content %}
    <div class="container">
        <div class="card mb-3">
            <div class="card-header">{{ board.title }}</div>
            <div class="card-body">
                <div class="text-end text-muted">
                    <div>글쓴이 : {{ board.created_by }}</div> <!-- text-muted: 글씨를 흐리게 만들어준다. -->
                    <div>등록일시 : {{ board.created_at | date:"Y-m-d H:i" }}</div>
                </div>
                {% if board.filename %}
                <div>
                    첨부파일 : <a href="{% url "board:download" board_id=board.id %}" class="btn btn-primary">{{ board.original_filename }}</a>
                </div>
                {% endif %}
                <div>{{ board.content | markdown_to_html }}</div> <!-- markdown으로 들어온 것을 html로 출력해라. -->
            </div>
        </div>

        <div>
            <a href="{% url 'board:list' %}" class="btn btn-primary">게시글 목록</a>
            <a href="{% url 'board:update' board_id=board.id %}" class="btn btn-warning">게시글 수정</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#deleteModal">게시글 삭제</button>
        </div>
    </div>

    <!-- 삭제 모달 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <!-- Tabindex=-1 : tab을 최우선으로 둔다는 뜻 -->
        <div class="modal-dialog">
            <div class="modal-content">
            <form id="deleteForm" action="{% url 'board:delete' board_id=board.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">게시글 삭제</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <!-- data-bs-dismiss : x버튼 -->
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <span class="text-danger">삭제된 데이터는 복구할 수 없습니다.</span>비밀번호를 입력해주세요.
                    </div>
                    <div>
                        <input type="password" id="password" name="password" placeholder="비밀번호" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">삭제 취소</button>
                    <button type="submit" class="btn btn-danger">게시글 삭제</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!--// 삭제 모달 -->

{% endblock %}
