{% extends "../base.html" %}

    {% block content %}
    <div class="card-body">
        <form id="updateForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력하세요." value="{{ form.title.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea rows="10" id="content" name="content" class="form-control" placeholder="내용을 입력하세요.">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <div class="mb-3">
                <label for="created_by" class="form-label">글쓴이</label>
                <input type="text" id="created_by" name="created_by" class="form-control" placeholder="글쓴이를 입력하세요." value="{{ form.created_by.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요.">
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">파일</label>
                <input type="file" id="file" name="file" class="form-control" accept="image/*">
            </div>
            {% if board.filename %}
            <div class="mb-3">
                <label class="form-label">파일 삭제</label>
                <input type="checkbox" id="deleteFile" name="deleteFile" class="form-check-input">
            </div>
            <div class="form-text">
                기존 파일 : <a href="{% url "board:download" board_id=board.id %}" class="btn btn-primary">{{ board.original_filename }}</a>
            </div>
            {% endif %}
            <div>
                <button type="submit" class="btn btn-primary">게시글 수정</button>
                <a href="{% url 'board:read' board_id=board.id %}" class="btn btn-danger">등록 취소</a>
            </div>
        </form>
    </div>
    {% endblock %}
